*{
    margin: 0;
    color: #222222;
}

a {
  text-decoration: none;
}

.section h1 {
    font-family: 'Raleway', sans-serif;
}

.section p {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
}

.well-rounded {
    border-radius: 20px !important;
}

.background-row {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
}

.content-row {
    position: relative;
    z-index: 10;
}

.inline-header {
    display: inline-block;
}

.about-me {
    font-weight: 300;
    font-size: 25px;
}

/*
.btn-outline-black {
    background-color: transparent;
    border: 1px solid #222222;
    padding-left: 10px;
    padding-right: 10px;
    color: #222222;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    transition: all 300ms ease-in-out;
}
*/

.btn-outline-black:hover {
    background-color: #222222;
    color: #ecf0f1;
}

.name {
    font-family: 'Julius Sans One', sans-serif !important;
    font-size: 4em;
}

#section1 {
    background: -moz-linear-gradient(335deg, rgba(220,223,245,1) 0%, rgba(236,240,241,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(220,223,245,1)), color-stop(100%, rgba(236,240,241,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(335deg, rgba(220,223,245,1) 0%, rgba(236,240,241,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(335deg, rgba(220,223,245,1) 0%, rgba(236,240,241,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(335deg, rgba(220,223,245,1) 0%, rgba(236,240,241,1) 100%); /* ie10+ */
    background: linear-gradient(115deg, rgba(220,223,245,1) 0%, rgba(236,240,241,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DCDFF5', endColorstr='#ecf0f1',GradientType=1 ); /* ie6-9 */
}

#section1-bg {
    width: 100%;
    height: 100%;
}

#section1-bg svg, img, object {
    opacity: 0.15;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    height: 80%;
}

#section2 {
    background-color: #EEEEEE;

}

#section2-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    opacity: 0.2;
    text-align: center;
}

#section2-bg svg, img, object {
    vertical-align: middle;
    display: inline-block;;
    position: relative;;
    height: 100%;
}

#section2 h1 {
    color: #222222;
    font-size: 4.5em;
    padding-bottom: 2%;
}

.project-wrapper {
    text-align: center;
}

.project-placeholder {
    position: relative;
    width: 320px;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 5%;
    display: inline-block;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: white;
}

.project-placeholder:hover {
    /* background-color: rgba(0,77,64 ,1.0); */
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#section3 {
    background-color: #263238;
}

#section3 h1 {
    color: #5C6BC0;
    font-size: 4.5em;
    padding-bottom: 2%;
}
