*{
    margin: 0;
    color: #222222;
}

a, btn {
  text-decoration: none;
}

#gradient-canvas {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -9999;
}

#gradient-canvas div{
    height: 100%;
    width: 100%;
    transition: all 700ms ease-in-out;
    -webkit-transition: all 700ms ease-in-out;
    -moz-transition: all 700ms ease-in-out;
    -o-transition: all 700ms ease-in-out;
}

.name, .about-me, #about-buttons, #occ{
    padding-top: 20px;
    opacity: 0;
}

.mobile-browser-color {
    transition: all 700ms ease-in-out;
    -webkit-transition: all 700ms ease-in-out;
    -moz-transition: all 700ms ease-in-out;
    -o-transition: all 700ms ease-in-out;
}

.gradient-blue-grey {
    opacity: 1;
    position: fixed;
    background: -moz-linear-gradient(335deg, rgba(220,223,245,1) 0%, rgba(236,240,241,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(220,223,245,1)), color-stop(100%, rgba(236,240,241,1)));
    background: -webkit-linear-gradient(335deg, rgba(220,223,245,1) 0%, rgba(236,240,241,1) 100%);
    background: -o-linear-gradient(335deg, rgba(220,223,245,1) 0%, rgba(236,240,241,1) 100%);
    background: -ms-linear-gradient(335deg, rgba(220,223,245,1) 0%, rgba(236,240,241,1) 100%);
    background: linear-gradient(115deg, rgba(220,223,245,1) 0%, rgba(236,240,241,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DCDFF5', endColorstr='#ecf0f1',GradientType=1 );
}

.gradient-light-blue {
    opacity: 0.0;
    position: fixed;
    background-color: #3F51B5;
}

.gradient-grey {
    opacity: 0.0;
    position: fixed;
    background: -moz-linear-gradient(335deg, rgba(238,238,238, 1) 0%, rgba(238,238,238, 1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(238,238,238, 1)), color-stop(100%, rgba(238,238,238, 1)));
    background: -webkit-linear-gradient(335deg, rgba(238,238,238, 1) 0%, rgba(238,238,238, 1) 100%);
    background: -o-linear-gradient(335deg, rgba(238,238,238, 1) 0%, rgba(238,238,238, 1) 100%);
    background: -ms-linear-gradient(335deg, rgba(238,238,238, 1) 0%, rgba(238,238,238, 1) 100%);
    background: linear-gradient(115deg, rgba(238,238,238, 1) 0%, rgba(238,238,238, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DCDFF5', endColorstr='#ecf0f1',GradientType=1 );
}

.gradient-grey-purple {
    opacity: 1.0;
    background: linear-gradient(to bottom, #EEEEEE 0%,#EEEEEE 40%,#EEEEEE 60%,#3F51B5 60%,#3F51B5 100%);
    background: -moz-linear-gradient(to bottom, #EEEEEE 0%,#EEEEEE 40%,#EEEEEE 60%,#3F51B5 60%,#3F51B5 100%);
    background: -webkit-linear-gradient(to bottom, #EEEEEE 0%,#EEEEEE 40%,#EEEEEE 60%,#3F51B5 60%,#3F51B5 100%);
    background: -o-linear-gradient(to bottom, #EEEEEE 0%,#EEEEEE 40%,#EEEEEE 60%,#3F51B5 60%,#3F51B5 100%);
    background: -ms-linear-gradient(to bottom, #EEEEEE 0%,#EEEEEE 40%,#EEEEEE 60%,#3F51B5 60%,#3F51B5 100%);

}

.gradient-grey-purple-mob {
    opacity: 1.0;
    background: #3F51B5;
}

.white {
    color: white !important;
}

.section h1 {
    font-family: 'Raleway', sans-serif;
}

.section p {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
}

.well-rounded {
    border-radius: 20px !important;
}

.background-row {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
}

.content-row {
    position: relative;
    z-index: 10;
}

.inline-header {
    display: inline-block;
}

.about-me {
    font-weight: 300;
    font-size: 21px;
}

.btn-outline-black:hover {
    background-color: #222222;
    color: #ecf0f1;
}

.name {
    font-family: 'Julius Sans One', sans-serif !important;
    font-size: 4em;
}

#section1-bg {
    width: 100%;
    height: 100%;
}

#section1-bg svg, img, object {
    z-index: 7;
    opacity: 0.15;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    height: 80%;
}

#section2 {

}

#section2-bg {
    width: 100vw;
    height: 100vh;
    position: relative;;
    opacity: 0.2;
    text-align: center;
}

#section2-bg svg, img, object {
    vertical-align: middle;
    display: inline-block;;
    position: relative;;
    height: 100%;
}

#section2 h1 {
    color: #EEEEEE;
    text-transform: uppercase;
    font-size: 4em;
    padding-bottom: 2%;
}

.project-wrapper {
    text-align: center;
}

.project-placeholder {
    position: relative;
    width: 320px;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 5%;
    display: inline-block;
    /*
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    */
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: white;
}

.prime-grow {
    transform:scale(0);
    transform-origin:center center;
    transition: transform 500ms ease;
}

.grow{
   transform:scale(1);
}

.project-placeholder:hover {
    /* background-color: rgba(0,77,64 ,1.0); */
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#section3 h1 {
    text-transform: uppercase;
    font-size: 4em;
    padding-bottom: 2%;
}

.skill-card {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 35px;
}

.skill-icon {
    position: relative;
}

.skill-icon i {
    border-radius: 99em;
    padding: 20px;
    position:relative;
    font-size: 70px;
}

.beginner {
    text-transform: uppercase;
    font-size: 25px;
    color: #03A9F4;
}

.skill-icon-beginner i {
    border: 3px solid #03A9F4;
    color: #03A9F4;
    background-color: #4FC3F7;
}

.intermediate {
    text-transform: uppercase;
    font-size: 25px;
    color: #9C27B0;
}

.skill-icon-intermediate i {
    border: 3px solid #9C27B0;
    color: #9C27B0;
    background-color: #BA68C8;
}

.advanced {
    text-transform: uppercase;
    font-size: 25px;
    color: #4CAF50;
}

.skill-icon-advanced i {
    border: 3px solid #2E7D32;
    color: #2E7D32;
    background-color: #4CAF50;
}

.skill-heading {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;
}

.tech {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.btn-unique {
    background-color: black !important;
    color: white !important;
}

.btn-unique:hover {
    background-color: #212121 !important;
}

.btn-unique i {
    color: white !important;
}

.btn-fb {
    background-color: #3b5999 !important;
    color: white !important;
}

.btn-fb:hover {
    background-color: #4866A6 !important;
}

.btn-fb i {
    color: white !important;
}

.btn-amber {
    background-color: #FFC107 !important;
    color: white !important;
}

.btn-amber:hover {
    background-color: #FFCA28 !important;
}

.btn-amber i {
    color: white !important;
}
